/* CSS declarations go here */
.newEventInputs {
	padding: 20px;	
	border: 1px solid black;
	width: 350px;
	height: 400px;
	float:left;
	font-family:Helvetica;
	font-size: 16px;
	background-color: #AD855C;
}

textarea {
	resize:none;
}

input, textarea {
	float:left;
}

/*
.field_1 {
	height: 50px;
	width: inherit;
	//border: 2px solid black;
	float:left;
	padding: 10px;
}
*/

input[type=text] {
	padding:5px; margin:2px; 
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: inherit;
	margin-right: 25px;
	font-family:inherit;
	width: inherit;
	float: inherit;
}

input[type=text]:focus {border-color:#333; }

/**/

textarea{
	padding:5px; margin: 2px;
	margin-top: 10px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	margin-right: 5px;
	font-size: inherit;
	font-family:inherit;
	float:inherit;
}

textarea:focus {
	border-color:#333; 
}

input[type=submit] {
	padding:5px 15px; background:#ccc; border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
 }